*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  display: block;
}

h1 {
  font-size: 2em;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

div {
  background-color: #dadada;
  float: left;
  width: 100%;
}


.container {
  position:relative;
  text-align: center;
  width:100%;
  height:auto;
}

.baku {
  background-image: url(css-exercise-four/images/baku.jpg);
  width:100%;
}

.london {
  background-image: url(css-exercise-four/images/london.png);
  width:100%;
}

.madrid {
    background-image: url(css-exercise-four/images/madrid.jpg);
    width:100%;

}
.rome {
    background-image: url(css-exercise-four/images/rome.jpg);
    width:100%;
}

/* code for tablet size two-column */
@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}


/* code for laptop four-column */
@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 24.5%;
  }
}
